<nav class="navbar navbar-expand-md bg-dark h-0" data-bs-theme="dark">
  <div class="container-fluid custom-container justify-content-center text-white">
    <span> Made by Hollowtech - Powered by Rails! </span>
  </div>
</nav>
